language: node_js
node_js:
  - "5.4"
  - "4.2"
  - "0.12"
  - "0.10"
script: 
  - "npm run lint"
  - "npm test"
  - "npm run cover"
after_script: "npm install coveralls && cat ./coverage/lcov.info | coveralls"